.time__container{
    width: 320px;
}

.progress__bar{
    display: block;
    position: relative;
    width: 289px;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    background: #F3F4F8;
    box-shadow: inset 0px 4px 2px rgba(0, 0, 0, 0.1);
}
.progress{
    position: absolute;
    width: 26px;
    height: 8px;
    background-color:#B53E42;
}

.time__title{
    display: block;
    padding: 15px 20px;
    background-color: #343B4D;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.time__form{
    display: flex;
    flex-direction: column;
}



.time__form-item{
    margin: 30px auto 30px 15px;
}

.time__form--container{
    visibility: hidden;
    width: 320px;
    transform: translateY(20px);
}

.time__form--container.is-open {
    visibility: visible;
    transition: all 1.5s;
    transform: translateY(0%);
  }

.time__form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 186px;
    height: 45px;
    background: #315DFA;
    border: 1px solid #315DFA;
    color: #fff;
}  