<main class="main__container">
  <header class="main__header">
    <h1 class="main__title">Новый гороскоп на 2021 год!</h1>
    <p class="main__desc">Узнайте, что Вас ждёт.</p>
  </header>
  
  <div class="main__container">
    <div class="main__hero-container">
      <div class="main__hero" ></div>
      <div class="main__hero--small-img"></div>
    </div>
    <h2 class="main__text--title">Узнайте, как 2021 год изменит жизнь каждого из нас!</h2>

    <p class="main__text">К сожалению, 2020 год принес нам немало неприятностей,
       даже откровенных проблем и несчастий. Не смотря на это, 
       3 знака зодиака очень скоро обретут долгожданное счастье! 
       2021 год затронет своими потрясениями каждого из нас.</p>

       <form action="" class="main__form">
         <p class="main__form-title">Укажите свой пол:</p>
         <div class="form__radio--container">
          <label class="main__form--item">
            <input type="radio" name="women" class="form__radio-btn" data-name="women">
            Женщина 
          </label>
          <label class="main__form--item">
            <input type="radio" name="men" class="form__radio-btn" data-name="man">
            Mужчина
          </label>
         </div>
         <p class="main__footer main__footer--start">2020 © HOROSCOP PERSONAL</p> 
         <div class="form__button--container">
           <input type="submit" name="Далее" class="form__button">
         </div>
        </form>  
  </div>
    
</main>